* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    overflow: hidden;
    margin: auto;
    background: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url('images/faraz-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.banner-1 h1 {
    font-size: 40px;
    color: #a8008b;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}

.banner-1 p {
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
}

.link-button {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #ff5959;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 620px;

}

.banner-1 {
    height: auto;

}

.container {
    height: auto;
    overflow: hidden;
}

.container-1 {
    height: 500px;
}

.container-1 h2 {
    font-size: 30px;
    color: #121212;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}

.container-1 p {
    text-align: center;
    font-size: 13px;
}


.flexible-container {
    display: flex;
    padding-left: 400PX;
    margin-top: 20px;

}

.flexible-container a {
    text-decoration: none;
    padding: 15px;
    background-color: #fafafa;
    font-size: 25PX;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;
    color: #707070;
    overflow: hidden;

}

.flexible-container a:hover {
    background-color: #ffeeee;
    border: 2px solid #ff8a8a;
    color: #ff5959;
    overflow: hidden;
}

.container-1-a {
    color: #b3b3b3;
    height: 20px;
    overflow: hidden;
}

.container-1-link {

    height: 500px;
    overflow: hidden;
}

.container-2 {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.Donate-Plan {
    text-align: center;
}

.Donate-Plan p {
    font-size: 13px;
}

.flexible-container-1 {
    display: flex;
    padding: 40px 100px 100px 100px;

}

.flexible-container-1 img {
    font-size: 18px;
    padding: 20px 0px 0px 15px;

}

.flexible-container-1 h2 {
    font-size: 18px;
    padding: 20px 0px 0px 20px;

}

.flexible-container-1 p {
    font-size: 13px;
    padding-top: 10px;
    padding: 20px 0px 0px 18px;
}

.family-1 {
    background-color: #edf5f6;
    width: 32%;
    margin-right: 10px;
    border-radius: 5px;
}


.family-2 {
    background-color: #ffeeee;
    width: 32%;
    margin-right: 10px;
    border-radius: 5px;
}

.family-3 {
    background-color: #fff4d6;
    width: 32%;
    border-radius: 5px;
}

.flexible-container-3 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 40px 100px 20px 100px;
}

.container-3-1 {
    width: 35%;
    height: 450px;


}

.container-3-1 h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
}

.container-3-1 p {
    font-size: 13px;
    width: 80%;
    margin: 15px 0px 30px 0px;


}

.link-button1 {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #ff5959;
    font-size: 15px;
    border-radius: 5px;

}


.container-3-1 img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.flexible-container-4 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 40px 100px 20px 100px;
}

.container-4-2 img {
    width: 80%;
    height: 400px;
    border-radius: 5px;
}

.container-4-2 {
    width: 35%;
    height: 450px;
}


.container-4-2 h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
}

.container-4-2 p {
    font-size: 13px;
    width: 80%;
    margin: 15px 0px 30px 0px;


}